/* Estilogeral */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  .ubuntu-light {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
  }

  .ubuntu-regular {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .ubuntu-medium {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  .ubuntu-bold {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .ubuntu-light-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: italic;
  }

  .ubuntu-regular-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: italic;
  }

  .ubuntu-medium-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: italic;
  }

  .ubuntu-bold-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
}

body {
  background-color: rgb(4, 4, 4);
  height: 100vh;
  font-family: "Ubuntu", sans-serif;
}

.interface {
  max-width: 1280px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.contatos button {
  padding: 15px 30px;
  font-size: 18px;
  font-weight: 600;
  background-color: #69239E;
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  transition: .2s;
}

h2.titulo {
  color: white;
  font-size: 38px;
  text-align: center;
}

h2.titulo span {
  color: #69239E;
}

button:hover,
form .btn-enviar input:hover {
  box-shadow: 0px 0px 8px #69239E;
  transform: scale(1.05);
}

/* Estilo do cabeçalho */
header {
  padding: 40px 4%;
}

header>.interface {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: #7d7d7d;
  text-decoration: none;
  display: inline-block;
  transition: .2s;
}

header nav.menu-desktop a:hover {
  color: white;
  transform: scale(1.05);
}


header nav ul {
  list-style-type: none;

}

header nav.menu-desktop ul li {
  display: inline-block;
  padding: 0 40px;
}

/* Estilo do menu mobile*/
.btn-abrir-menu i {
  color: #69239E;
  font-size: 40px;
}

.menu-mobile {
  background-color: rgb(4, 4, 4);
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99999;
  width: 0%;
  overflow: hidden;
  transition: .4s;
}

.menu-mobile.abrir-menu {
  width: 70%;
}

.menu-mobile.btn-abrir-menu~.overlay-menu {
  display: block;
}

.menu-mobile .btn-fechar {
  padding: 20px 5%;
}

.menu-mobile .btn-fechar i {
  color: white;
  font-size: 40px;
}

.menu-mobile nav ul {
  text-align: right;
}

.menu-mobile nav ul li a {
  color: white;
  font-size: 22px;
  font-weight: 300;
  padding: 20px 10%;
  display: block;
}

.menu-mobile nav ul li a:hover {
  background-color: #69239E;
  color: rgb(4, 4, 4);
}

.overlay-menu {
  background-color: rgba(0, 0, 0, 0.808);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 88888;
  display: none;
}


/* Estilo do topo do site */
section.topo-do-site {
  padding: 40px 4%;
}

section.topo-do-site .flex {
  align-items: center;
  justify-content: center;
  gap: 360px;
}

.topo-do-site h1 {
  color: white;
  font-size: 42px;
  line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span {
  color: #69239E;
}

.topo-do-site .txt-topo-site p {
  color: white;
  margin: 20px 0;
}

.topo-do-site .img-topo-site img {
  position: relative;
  animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar {
  0% {
    top: 0;
  }

  100% {
    top: 30px;
  }
}

/* ESPECIALIDADES */
section.especialidades {
  padding: 40px 4%;
}

section.especialidades .flex {
  gap: 60px;
}

.especialidades .especialidades-box {
  color: white;
  padding: 40px;
  margin-top: 45px;
  border-radius: 20px;
  transition: .2s;
}

.especialidades .especialidades-box:hover {
  transform: scale(1.05);
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.7);
}

.especialidades .especialidades-box i {
  font-size: 72px;
  color: #69239E;
}

.especialidades .especialidades-box h3 {
  font-size: 28px;
  margin: 10px 0;
}

/* estilo do sobre */
section.sobre {
  padding: 100px 4%;
}

section.sobre .flex {
  align-items: center;
  gap: 40px;
}

.sobre .txt-sobre {
  color: white;
}

.sobre .txt-sobre h2 {
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 30px;
}

.sobre .txt-sobre h2 span {
  color: #69239E;
  display: block;
}

.sobre .txt-sobre p {
  margin: 20px 0;
  text-align: justify;
}

.btn-social button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 0;
  background-color: #69239E;
  font-size: 25px;
  cursor: pointer;
  margin: 0 5px;
  transition: .2s;
}

/* estilo do formulario */
section.formulario {
  padding: 80px 4%;
}

form {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 40px;
}

form input,
form textarea {
  width: 100%;
  background-color: rgb(37, 37, 37);
  border: 0;
  outline: 0;
  padding: 20px 15px;
  border-radius: 15px;
  color: white;
  font-size: 18px;
}

form textarea {
  resize: none;
  max-height: 200px;
}

form .btn-enviar {
  margin-top: 20px;
  text-align: center;
}

form .btn-enviar input {
  width: 120px;
  background-color: #69239E;
  color: black;
  font-weight: 700;
  cursor: pointer;
  transition: .2s;
}

/* estilo rodapé */

footer {
  padding: 60px 4%;
  box-shadow: 0 0 40px 10px #ffffff1d;
}

footer .flex {
  justify-content: space-between;
}

footer .line-footer {
  padding: 20px 0;
}

.borda {
  border-top: 2px solid #69239E;
}

footer .line-footer p i {
  color: #69239E;
  font-size: 22px;
}

footer .line-footer p a {
  color: white;
}

@media screen and (max-width: 1024px) {

  /* CLASSE GERAIS */
  .flex {
    flex-direction: column-reverse;
  }

  h2.titulo {
    font-size: 32px;
    line-height: 30px;
  }

  /* CABEÇALHO */
  .menu-desktop,
  .contatos {
    display: none;
  }

  /* TOPO DO SITE AA */
  section.topo-do-site .flex {
    gap: 90px;
  }

  section.topo-do-site {
    padding: 20px 8%;
  }

  .topo-do-site h1 {
    font-size: 30px;
  }

  .topo-do-site .img-topo-site img {
    width: 100%;
  }

  /* ESPECIALIDADES AA*/
  section.especialidades {
    padding: 40px 10%;
  }

  /* SOBRE AA */

  section.sobre {
    padding: 100px 10%;
  }

  .sobre .txt-sobre h2 {
    font-size: 34px;
    line-height: 34px;
    text-align: center;
  }

  .btn-social {
    text-align: center;
  }

  .img-sobre img {
    width: 100%;
  }

  /* RODAPE AA */
  footer .flex {
    flex-direction: column;
    gap: 20px;
  }

  footer .line-footer {
    text-align: center;
  }
}