
th {
    background-color: purple;
}

header {
    width: 100%;
    height: 80px;
    background-color: rgb(150, 150, 150);
    display: flex;
    align-content: center;
}

h1 {
    background-color: aqua;
}

.h-titulo {
    width: 80%;
}

img {
    box-shadow: 7px 7px #888888;
}
